/* root */

:root {
	--back: #EFC;
	--fore: #8D2;
	--soft: #5A13;
	--hard: #5A16;
	--text: #341;
	--warn: #F62;
	--dot-color: #6B2;
	--dot-check: #351;
	--character-width: 5;
	--character-height: 8;
	--spacing: 1rem;
	background-color: var(--back);
	color: var(--text);
	font-size: 16px;
	line-height: 1.25em;
	font-family: 'Inter', sans-serif;
}

/* Elements */

body {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-rows: 1fr 3rem;
	place-items: center;
	cursor: default;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
background-color: var(--text);
color: var(--fore);
}
::-moz-selection {
	background-color: var(--text);
	color: var(--fore);
}

h1 {
	margin: 0;
	background-color: var(--back);
	font-size: 2.5em;
	line-height: 1em;
}

a,
a:is(:active, :visited) {
  color: currentColor;
}

/* Utilities */

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.font-mono {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text {
	cursor: text;
}

.nowrap, .truncate {
	white-space: nowrap;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 25rem) {
	.hidden-small {
		display: none;
	}
}

.pixelated {
	image-rendering: pixelated;
}

/* Components */

.button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: var(--soft);
	color: inherit;
	font-size: inherit;
	font-weight: bold;
	display: block;
}
.button:is(:hover, :active) {
	background-color: var(--hard);
}
.button.warnfull:is(:hover, :active) {
	background-color: var(--warn);
}
.button.inline {
	height: 2.5rem;
	padding: 0 calc(2.5 * var(--spacing));
}
.button.flat {
	background-color: transparent;
}

.icon {
	width: 100%;
	height: 100%;
	max-width: 3rem;
	max-height: 3rem;
	fill: currentColor;
}

.sticky-header {
	position: sticky;
	top: 0;
}

.character-dot {
	margin: 0;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	.character-dot {
		-webkit-appearance: none;
		-mox-appearance: none;
		background-color: var(--dot-color);
	}
	.character-dot:checked {
		background-color: var(--dot-check);
	}
	.character-dot:focus {
		z-index: 1;
	}
}

/* Sections */

main {
	width: 100%;
	max-width: 128rem;
	height: 100%;
	display: grid;
	grid-template-columns: 0fr minmax(39rem, 1fr);
	grid-template-rows: 100%;
	overflow-x: auto;
}
@media (max-width: 48rem) {
	main {
		grid-template-columns: 100vw 100vw;
	}
}

#editor-section {
	padding: 1rem;
	display: grid;
	place-items: center;
	place-content: center;
	grid-template-rows: auto 1.25rem 2.5rem;
	grid-gap: calc(1.5 * var(--spacing));
}

#collection-section {
	width: 100%;
	height: 100%;
	max-height: calc(100vh - 3rem);
	padding: 0 1rem 0 1rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0fr 1fr;
	gap: 2rem;
	overflow-y: auto;
}

footer {
	width: 100%;
	padding: 0 var(--spacing);
	background-color: var(--soft);
	font-size: .8em;
	font-weight: bold;
	line-height: 3rem;
	white-space: nowrap;
	align-self: end;
	overflow: auto;
}

/* Layout */

#catacter-editor-container {
    --container-height: clamp(16rem, calc(100vh - 2 * var(--spacing) - 3rem - 1.25rem - 2.5rem - 3rem), 36rem);
    --dot-width: calc((var(--container-height) - 6 * var(--spacing) - (var(--character-height) - 1) * .125rem) / var(--character-height));
    height: var(--container-height);
    min-height: 16rem;
    max-height: 36rem;
	padding: calc(3 * var(--spacing));
    background-color: var(--fore);
	display: grid;
    grid-template-columns: repeat(var(--character-width), var(--dot-width));
    grid-template-rows: repeat(var(--character-height), 1fr);
	grid-gap: .125rem;
}

#collection-section-name {
	height: 6.125rem;
	padding: 2rem 0;
	text-transform: uppercase;
}

#collection-list-container {
	--alpha: calc(var(--character-height) / var(--character-width));
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, clamp(4rem, 5vw, 9rem));
	grid-gap: var(--spacing);
}

.collection-list-item {
    width: 100%;
    aspect-ratio: var(--character-width) / var(--character-height);
}

.collection-list-item:not(:first-child) > button {
	background-color: transparent;
}

.collection-list-item:not(:first-child) > button:hover {
	background-color: var(--fore);
}
