<!DOCTYPE html>

<html lang="en">
<head>
    <title>XAR - Custom LCD Characters</title>
    <meta name="Description" content="Custom LCD Character">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="XAR">
    <meta name="application-name" content="XAR">
    <link async rel="icon" type="image/png" sizes="256x256" href="/XAR/icons/favicon-256x256.png">
    <link async rel="preconnect stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <main id="app">
        <section :style="styleScope">
            <article ref="dotsNode">
                <input v-for="dot, i in character" v-model="character[i]" @pointerdown="draw" type="checkbox">
            </article>
            <span v-text="hexCode" title="Character Hexadecimal code (Click to select)" @click="selectText"></span>
            <button @click="clear">Clear</button>
        </section>
        <section :style="styleScope">
            <h1>MY CHARACTERS</h1>
            <section>
                <button title="Store character" @click="storeCharacter">
                    <svg viewBox="0 0 24 24"><path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg>
                </button>
                
                <template v-for="character, i in buffer">
                    <button :title="`Select character #${i + 1}`" @mousedown="press(i)" :key="buffer.length - i">
                        <img :src="character" :alt="`Character #${i + 1}`">
                    </button>
                </template>
            </section>
        </section>
    </main>

    <footer>
        &copy; 2020 Luciano Felix<span>, all rights reserved</span>.
        <a href="https://github.com/FelixLuciano/XAR#readme" target="_blank" rel="noopener"><span>See on </span>GitHub</a>
    </footer>

    <script type="module" src="./app.js"></script>
</body>
</html>
